* {
    padding: 0;
    margin: 0;
}

.containerDeletar {
    margin-top: 30px;
    text-align: center;
    font-family: ubuntu;
}

.textoDeletar {
    margin-bottom: 30px;
}

.imagemTriste {
    margin-bottom: 30px;
}

.btnHome {
    width: 100px;
    height: 30px;
    margin: 1px auto;
    padding-top: 10px;
    background: linear-gradient(to right bottom, rgb(16, 18, 31), rgb(22, 29, 54), rgb(25, 41, 79), rgb(26, 53, 105), rgb(24, 65, 132), rgb(22, 71, 144), rgb(18, 76, 157), rgb(11, 82, 170), rgb(11, 82, 170), rgb(10, 81, 170), rgb(10, 81, 169), rgb(9, 80, 169));
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.btnHome a {
    text-decoration: none;
    font-family: ubuntu;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.btnHome:hover {
    transform: scale(1.1);
}