* {
    padding: 0;
    margin: 0;
}

.header {
    background: linear-gradient(to right bottom, rgb(16, 18, 31), rgb(22, 29, 54), rgb(25, 41, 79), rgb(26, 53, 105), rgb(24, 65, 132), rgb(22, 71, 144), rgb(18, 76, 157), rgb(11, 82, 170), rgb(11, 82, 170), rgb(10, 81, 170), rgb(10, 81, 169), rgb(9, 80, 169));
    height: 120px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
    margin-left: 20px;
}

.logo h1 {
    font-family: Ubuntu;
    color: rgb(220, 221, 227);
}

.logoTxt {
    color: rgb(107, 183, 11);
}

.navbar ul {
    margin-right: 80px;
}

.navbar ul li {
    margin-right: 20px;
    display: inline-block;

}

.navbar ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 221, 227);
    line-height: 1.5;
    padding: 5px;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

.navbar ul li a:hover {
    color: rgb(107, 183, 11);
}

.checkbtn {
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.modal-content-navbar {
    display: flex;
    position: fixed;
    flex-direction: column;

    width: 250px;
    height: 500px;
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;

    justify-content: center;
    align-items: center;
    text-align: center;

    left: 18%;
    top: 20%;
    z-index: 10;
    background-color: #FFF;
}

.navbarModal {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: flex-start;
}

.navbarModal ul {
    list-style: none;
}

.navbarModal ul li .linkModal {
    text-decoration: none;
    font-family: Ubuntu;
    box-sizing: border-box;
    color: rgb(107, 183, 11);
    font-size: 30px;
    padding: 20px;
    margin-bottom: 10px;
}

@media (max-width: 500px) {

    .header {
        width: 100%;
    }

    .navbar {
        width: 70px;
        display: none;
    }

    .checkbtn {
        display: block;
    }
}